Django>=5.2.1,<6
djangorestframework>=3.16,<4
django-cors-headers>=4.7,<5
whitenoise>=6.9,<7
gunicorn>=23.0,<24
python-dotenv>=1.0,<2
# Base de datos de zonas horarias para sistemas que no la incluyen (Windows, imágenes mínimas)
tzdata>=2025.2
